@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 212 17% 16%;
    --card: 0 0% 100%;
    --card-foreground: 212 17% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 17% 16%;
    --primary: 183 100% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 333 100% 71%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 183 100% 34%;
    --chart-1: 183 100% 74%;
    --chart-2: 333 100% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 212 17% 16%;
    --foreground: 0 0% 98%;
    --card: 212 17% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 212 17% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 183 100% 74%;
    --primary-foreground: 212 17% 10%;
    --secondary: 212 17% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 212 17% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 333 100% 71%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 17% 25%;
    --input: 212 17% 25%;
    --ring: 183 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
    @apply py-16 sm:py-24;
  }
}

@layer utilities {
  .glow-shadow {
    box-shadow: 0 0 20px hsl(var(--primary) / 0.5), 0 0 30px hsl(var(--accent) / 0.3);
  }
}
